.container {
  display: inline-block;
}

.block, .fragment {
  background-color: gray;
}

.crack {
  background-color: black;
}

.crack, .fragment, .fragments {
  position: absolute;
}

.container .block,
.crack,
.broken .fragment {
  width: 32px;
  height: 32px;
}

.block {
  .crack.c1 {
    clip-path: polygon(50% 50%, 80% 100%, 90% 100%);
  }
  .crack.c2 {
    clip-path: polygon(75% 2%, 75% 20%, 50% 50%);
  }
  .crack.c3 {
    clip-path: polygon(0% 0%, 50% 50%, 23% 35%);
  }
  .crack.c4 {
    clip-path: polygon(0% 82%, 0% 77%, 50% 50%, 100% 20%, 100% 25%)
  }
}

.broken {
  transform: translateY(200vh);
  transition-duration: 1.2s;
  transition-timing-function: ease-in;
  .fragment {
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
  }
}

.broken {
  .block {
    display: none;
  }
  .fragments {
    .fragment.f1 {
      transform: translate(5vh, 2vh) scale(0.9) rotate(20deg);
      clip-path: polygon(50% 50%, 80% 100%, 100% 100%, 100% 25%);

    }
    .fragment.f2 {
      transform: translate(2vh, -2vh) scale(0.9) rotate(80deg);
      clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 50% 50%);

    }
    .fragment.f3 {
      transform: translateX(-2vh) scale(0.9) rotate(-40deg);
      clip-path: polygon(0% 0%, 50% 50%, 0% 77%);
    }
    .fragment.f4 {
      transform: translateY(2vh) scale(0.9) rotate(20deg);
      clip-path: polygon(0% 82%, 50% 50%, 80% 100%, 0% 100%)
    }
  }
}
